[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eatATA"]
	path = eatATA
	url = https://github.com/beckerbenj/eatata
[submodule "eatGADS"]
	path = eatGADS
	url = https://github.com/beckerbenj/eatgads
